@model CIPA.Models.Candidato

<h2>Detalhes do Candidato</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Nome</dt>
        <dd class="col-sm-10">@Model.Nome</dd>

        <dt class="col-sm-2">Número do Partido</dt>
        <dd class="col-sm-10">@Model.NumeroPartido</dd>

        <dt class="col-sm-2">Votos</dt>
        <dd class="col-sm-10">@Model.Votos</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>